/*DEFAULTS*/
body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #f7f9fd;
  font-weight: 400; }

img {
  width: 100%; }

/*HEADER*/
header {
  display: flex;
  justify-content: space-between; }

header {
  padding: 20px 20px 50px 20px; }

.logo {
  align-self: center; }

.button-tryit {
  background-color: #ffffff;
  color: #9a52ff;
  align-self: center;
  min-width: 100px;
  min-height: 30px; }

/*MAIN - SECTION1*/
main {
  text-align: center; }

.illustration-picture-wrapper {
  display: inline-block; }

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #808d99; }

.button-getstartedforfree {
  min-width: 200px;
  min-height: 35px; }

.p-heading {
  font-family: "Poppins", sans-serif; }

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #808d99; }

.button-getstartedforfree {
  background-color: #ff52bf;
  border-radius: 5px;
  color: #ffffff;
  border: none; }

/*MAIN - SECTION2*/
/*MAIN - SECTION3*/
.tryforfree {
  padding: 20px;
  margin: 0 25px 0 25px;
  box-shadow: 5px 5px 5px 5px #e3e2f2; }

.try-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.try-subheading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #808d99;
  font-size: 10px; }

/*MAIN - FOOTER*/
footer {
  background-color: #00252e; }

ul {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 0; }

li {
  margin-left: 20px;
  padding: 10px; }

.footer-info {
  color: #f7f9fd;
  font-weight: 400; }

.button-subscribe {
  background-color: #ff52bf;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  min-height: 35px; }

.input-field {
  flex-direction: column;
  display: inline-flex;
  padding-bottom: 10px; }

.input-box {
  min-width: 300px;
  min-height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none; }

.subscribe-info {
  font-weight: 400;
  margin: 0px 20px 20px 20px; }

.copyright {
  color: #ffffff;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 10px; }

@media only screen and (max-width: 735px) {
  /*MAIN - SECTION1*/
  .logo {
    max-width: 140px; }

  .user-picture-wrapper {
    padding: 40px; }

  .illustration-picture-wrapper {
    padding: 40px; }

  .title-wrapper {
    padding: 30px; }

  .button-getstartedforfree {
    margin: 20px; }

  /*MAIN - SECTION2*/
  .info-wrapper {
    padding: 40px; }

  /*MAIN - SECTION3*/
  .freetrial-Wrapper {
    margin-bottom: 50px; }

  /*FOOTER*/
  .footer-info {
    text-align: center; }

  .subscribe-info {
    font-weight: 400;
    margin: 0px 20px 20px 20px; }

  .copyright {
    text-align: center; } }
@media only screen and (min-width: 736px) {
  /*MAIN - SECTION1*/
  .logo {
    max-width: 250px; }

  .communities-wrapper {
    margin-top: 60px; }

  .illustration-picture-wrapper {
    max-width: 700px; }

  .title-wrapper {
    margin: 75px 16px;
    max-width: 700px;
    display: inline-block; }

  .subtitle {
    text-align: center; }

  /*MAIN - SECTION2*/
  .user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto; }

  .info-wrapper {
    padding: 0 60px 0 60px;
    text-align: left; }

  .user-picture-wrapper {
    padding: 0 60px 0 60px; }

  .freetrial-Wrapper {
    min-width: 400px;
    display: inline-block;
    margin: 100px; } }

/*# sourceMappingURL=style.css.map */
