$primary-color: 
hsl(322, 100%, 66%);

$secondary-color:
hsl(265, 100%, 66%);

$neutral-color1:
hsl(214, 64%, 98%);

$neutral-color2:
hsl(208, 11%, 55%);

$neutral-color3:
hsl(192, 100%, 9%);


//Typography
$font-heading: 'Poppins', sans-serif;
$font-body:'Open Sans', sans-serif;
